body {
    background-color: #f7f7f7;
}

h1 {
    font-family: 'Press Start 2P', cursive;
    text-align: center;
}

#logo {
    width: 175px;
    height: 104px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

/* center game in browser */
canvas {
    display: block;
    margin: auto;
}

h2 {
    font-family: 'Bungee', cursive;
    color: white;
    font-size: xx-large;
    margin-bottom: 0;
}

/* The Modal (background) */
.modal {
    display: none;
    /* Hidden by default */
    position: absolute;
    z-index: 1;
    /* Sit on top */
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
}

/* Modal Content/Box */
.modal-content {
    background-color: #00000080;
    margin: 192px auto;
    /* 15% from the top and centered */
    padding-left: 10px;
    border: 1px solid #888;
    width: 790px;
    height: 600px;
}

/*Home buttons*/
.homeBtn {
    background-color: black;
    border: 3px solid white;
    border-radius: 15px;
    color: white;
    text-align: center;
    font-size: xxx-large;
    font-family: 'Bungee', cursive;
    text-decoration: none;
    display: block;
    height: 125px;
    width: 410px;
    margin-left: 190px;
    margin-top: 50px;

}

.homeBtn:hover,
.homeBtn:focus {
    cursor: pointer;
    background-color: #1f1f1f;
}

p {
    color: white;
    font-size: large;
    margin-top: 0;
    font-family: 'Coda', cursive;
}

.backBtn {
    background-color: black;
    border: 3px solid white;
    border-radius: 15px;
    color: white;
    text-align: center;
    font-size: large;
    font-family: 'Bungee', cursive;
    text-decoration: none;
    display: block;
    height: 53px;
    width: 106px;
    margin-left: 337px;
    position: absolute;
    margin-top: 10px;
}

.backBtn:hover,
.backBtn:focus {
    cursor: pointer;
    background-color: #1f1f1f;
}

.scrollable-text {
    margin: 0 auto;
    height: 390px;
    width: 750px;
    overflow: scroll;
    overflow-x: hidden;
}

#homeScreenBtn {
    background-color: black;
    border: 3px solid white;
    border-radius: 15px;
    color: white;
    text-align: center;
    font-size: xx-large;
    font-family: 'Bungee', cursive;
    text-decoration: none;
    display: block;
    height: 90px;
    width: 180px;
    margin-left: 297px;
    position: absolute;
    margin-top: 500px;
}

#homeScreenBtn:hover,
#homeScreenBtn:focus {
    cursor: pointer;
    background-color: #1f1f1f;
}

#end-game-message {
    font-size: xx-large;
    font-weight: bold;
    position: absolute;
    margin-top: 200px;
    margin-left: 250px;
}

#small-screen-modal {
    display: none;
}

/* Media query for mobiles and small screens to display message to play on a larger screen */
@media screen and (min-width: 0px) and (max-width: 800px),
screen and (max-height: 590px) {

    /* Hide game */
    #game {
        display: none;
    }

    /* Hide modals */
    .modal {
        display: none;
    }

    /* Hide modal content */
    .modal-content {
        display: none;
    }

    /* Show small screen modal */
    #small-screen-modal {
        display: block;
        background-color: #000000e0;
        margin: 20px;
        border: 1px solid #888;
        height: 30%;
    }
}

/* Small screen modal content */
#small-screen-modal-content {
    font-size: 60vw;
    font-weight: bold;
    padding: 20px;
    margin: 20px;
}

em {
    font-weight: lighter;
    font-size: small;
}

/* Instructions content */
.morse-code {
    font-weight: bolder;
    font-size: larger;
}

/* Scoreboard content */
#scoreboard-list {
    color: white;
    font-size: large;
    padding-left: 0px;
    margin: 20px;
    font-family: 'Coda', cursive;
    text-align: center;
    list-style-position: inside;
    font-size: 25px;
    font-weight: bold;
}

#remove-bullet {
    list-style-type: none;
}

#footer-content {
    font-family: 'Roboto', sans-serif;
    color: #1f1f1f;
    width: 100%;
    left: 0;
    bottom: 0;
    text-align: center;
    position: relative;
    z-index: 2;
}

/* Audio slider */
.switch {
    position: absolute;
    margin-top: 50px;
    margin-left: 30px;
    display: inline-block;
    width: 60px;
    height: 34px;
}

/* Hide default HTML checkbox */
.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

/* The slider */
.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
}

.slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
}

input:checked+.slider {
    background-color: rgb(53.72549%,40.392157%,66.666667%);
}

input:focus+.slider {
    box-shadow: 0 0 1px #2196F3;
}

input:checked+.slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
    border-radius: 34px;
}

.slider.round:before {
    border-radius: 50%;
}

/* Audio images */
.audio-img {
    position: absolute;
    margin-left: 35px;
    display: none;
}

#audio-box {
    position: absolute;
    top: 675px;
}
